<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VinCompass Registration</title>
</head>
<body>
Welcome to VinCompass® <%= first_name %>! </br>

<p>Your account has been set up, so start enjoying selecting wines that meet your unique tastes and budget, at home or while dining out.</p>

<p>Get a jumpstart on refining your VinPrint®. Just update your wine preference profile by entering your Favorite Wines as examples. Help our recommendation engine get smarter, faster and learn the wines that please your taste buds.</p>

<p>Cheers,</p>

<p>Your VinCompass Crew</p>

</body>
</html>
