Hi <%= first_name %>, <br/>

<p>Your password has been successfully reset.<p>

<p>Your new password is this: <%= password %></p>

<p>If you didn’t request a password reset, please contact us immediately at staff@vincompass.com</p>

<p>Cheers,</p>

<p>Your VinCompass Crew</p>