Hi <%= to_user_first_name %>,<br/>

<p>You are now connected with <%= from_user_full_name %> at VinCompass!</p>

<p>Be sure to visit http://www.vincompass.com to discover restaurants with wines that you like, and use the VinCompass app on the go. We are looking forward to your using VinCompass to guide your wine journey.</p>

<p>Cheers,</p>

<p>Your VinCompass Crew</p>
