Hooray <%= from_user_first_name %>,<br/>

<p><%= to_user_full_name %> has accepted your invitation!</p>

<p>Thanks for spreading the word about VinCompass® - designed to help people select, enjoy and keep track of their favorite wines at home and restaurants.</p>

<p>Be sure to visit http://www.vincompass.com to discover restaurants with wines that you like, and use the VinCompass app on the go.</p>

<p>Cheers,</p>

<p>Your VinCompass Crew</p>